<div class="modal-body venue-modal heightMax">
	
	<div class="venue-logo">
	<div ng-style="{'background-image':'url(' + vm.venue.logo + ')'}"  ></div>
	<!--	<img ng-src="{{vm.venue.logo}}" /> -->
	</div>

	<div class="title">{{vm.venue.name}}</div>

	<div class="venue-rating">
		
		<span class="icon icon-star"></span>
		<span class="icon icon-star"></span>
		<span class="icon icon-star"></span>
		<span class="icon icon-star-outlined"></span>
		<span class="icon icon-star-outlined"></span>

	</div>

	
	<hr />

	<div class="info-item">
		<span class="icon icon-location-pin"></span>
		{{vm.venue.address}}
	</div>
	<div class="info-item uppercase">
		<span class="icon icon-air"></span>
		{{vm.venue.type}}
	</div>

    <div ng-show="vm.venue.phone"   ng-class="{'showAll' : vm.show}" class="info-item flag">
		<span class="icon icon-phone"></span>
		{{vm.venue.phone}}
	</div>
	
	<div ng-class="{'showAll' : vm.show}" class="info-item flag">
		<span ng-show="vm.venue.website"  class="icon icon-icloud"></span>
		<a href="{{vm.venue.website}}" >{{vm.venue.website}} </a>
	</div>

	<hr />
	
	
	<div ng-class="{'showAll' : vm.show}" ng-repeat="review in vm.venue.reviews" class="info-item flag">
		<span><a href="{{review.author_url}}" >{{review.author_name}}</a></span> <span ng-show="review.author_name">napisao/la:</span>
		
		<span class="icon .icon-text-document"></span>
		{{review.text}}
	</div>

	<button ng-click="vm.showAll()" type="button" class="btn btn-lg btn-primary-outline btn-block"><div ng-show="vm.buttonShow" id="ring4"></div>Check more details</button>

</div>